Load data from excel file

In [1]:
# Import modules
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 100)

In [2]:
# Load data
dfx = pd.read_excel('../data/raw/Таблица пациентов исходы по ране v1.xlsx', header= 0)

Extract columns 2 - 8

In [3]:
df = dfx.iloc[:, 2:8]

In [4]:
df.head()

   Off pump  КШ  тип  Соч  ВГА  ИСХОД
0         0   1  NaN  0.0  1.0    0.0
1         1   1  NaN  0.0  1.0    0.0
2         0   1  NaN  1.0  1.0    0.0
3         0   1  NaN  1.0  1.0    0.0
4         0   1  NaN  0.0  1.0    0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1962 entries, 0 to 1961
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Off pump  1962 non-null   int64
 1   КШ        1962 non-null   int64
 2   тип       342 non-null    object
 3   Соч       1960 non-null   float64
 4   ВГА       1961 non-null   float64
 5   ИСХОД     687 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 92.1+ KB

#### Do some cleaning

In [6]:
df['Соч'].value_counts()

0.0    1595
1.0     364
9.0       1
Name: Соч, dtype: int64

Replace `Соч=9` with 0

In [7]:
df.loc[df['Соч']==9, 'Соч'] = 0

Fill NA in the subset of columns with 0 and set `int` type. Value `E` in the column `тип` means *Empty*

In [8]:
df.fillna({'Off pump': 0, 'КШ': 0, 'Соч': 0, 'ВГА': 0, 'ИСХОД': 0, 'тип': 'E'} , inplace=True)
df = df.astype({'Соч': int, 'ВГА': int, 'ИСХОД': int, 'Off pump': int, 'КШ': int})
df.head()

   Off pump  КШ тип  Соч  ВГА  ИСХОД
0         0   1   E    0    1      0
1         1   1   E    0    1      0
2         0   1   E    1    1      0
3         0   1   E    1    1      0
4         0   1   E    0    1      0

Two rows in the column `тип` contain invalid values 'А' and 'Б'

In [9]:
df['тип'].value_counts()

E    1620
Т     218
П     124
Name: тип, dtype: int64

In [10]:
df[df['тип'].isin(('А','Б'))]

Empty DataFrame
Columns: [Off pump, КШ, тип, Соч, ВГА, ИСХОД]
Index: []

In [11]:
# delete rows with invalid values
df.drop(df[df['тип'].isin(('А','Б'))].index, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1962 entries, 0 to 1961
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Off pump  1962 non-null   int32
 1   КШ        1962 non-null   int32
 2   тип       1962 non-null   object
 3   Соч       1962 non-null   int32
 4   ВГА       1962 non-null   int32
 5   ИСХОД     1962 non-null   int32
dtypes: int32(5), object(1)
memory usage: 69.0+ KB

Unload data to csv

In [13]:
df.to_csv('../data/processed/wound_outcomes_v1.csv', index=False)